@import '../_variables.scss';

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  width: 100%;

  .navBar{
    z-index: 3;
    box-shadow: 0rem 0rem 0.5rem $primary950;
    box-sizing: border-box;
    padding: 0.5rem 2rem;
    background-color: $primary500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;

    .name{
      font-size: x-large;
      color: $primary50;
    }

    .options {
      display: flex;
      justify-content: space-between;
      width: 13rem;

      a{
        color: $primary200;
        text-decoration: none;
      }
    }
  }

  main {
    margin: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .menu {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      min-width: 50rem;
      height: 40rem;
      min-height: 30rem;

      .devices {
        display: flex;
        flex-direction: wrap;
        width: 45%;
        height: 100%;
        > div {
          margin: 0.5rem;
          width: 50%;
          border: 0.1rem solid $primary950;
          border-radius: 0.8rem;
          box-shadow: 0rem 0rem 0.2rem $primary800;
        }

        .list {
          position: relative;

          h3 {
            color: $primary950;
            padding: 1rem 0 1rem 1rem;
            margin: 0;
          }

          ul {
            padding: 0;
            list-style: none;
            overflow-y: auto;
            height: 85%;
            width: 100%;

            &::-webkit-scrollbar {
              width: 0.4rem;
            }

            &::-webkit-scrollbar-thumb {
              background-color: $primary600;
              border-radius: 0.2rem;
            }

            li {
              border-top: 0.1rem solid $primary300;
              padding: 1rem 0rem 1rem;

              &:hover {
                cursor: pointer;
              }

              &.selected {
                color: $primary50;
                background-color: $primary400;
              }

              p {
                margin: 0;
                padding-left: 1rem;
                overflow-wrap: break-word;
              }
            }
          }

          .addDeviceButton {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            height: 3rem;
            width: 3rem;
            border: 0.1rem solid $primary950;
            border-radius: 50%;
            color: $primary50;
            font-size: larger;
            background-color: $primary700;
            box-shadow: 0rem 0rem 0.2rem $primary800;
            &:hover {
              cursor: pointer;
            }
          }
        }

      .controls {

        h3 {
          color: $primary950;
          padding: 1rem 0 1rem 1rem;
          margin: 0;
        }
      }
      }
  
      .logs {
        display: flex;
        flex-direction: column;
        width: 55%;
        height: 100%;

        .past-logs {
          h3 {
            color: $primary950;
            padding: 1rem 0 1rem 1rem;
            margin: 0;
          }
        }

        .live-logs {
          h3 {
            color: $primary950;
            padding: 1rem 0 1rem 1rem;
            margin: 0;
          }
        }

        > div {
          margin: 0.5rem;
          height: 50%;
          border: 0.1rem solid $primary950;
          border-radius: 0.8rem;
          box-shadow: 0rem 0rem 0.2rem $primary800;
        }
      }
    }
  }

  .deviceMenu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 0.5rem 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    border: 0.1rem solid $primary950;
    border-radius: 0.8rem;
    box-shadow: 0rem 0rem 0.2rem $primary800;
    background-color: $primary400;

    .closeUserMenu {
      position: absolute;
      right: 1rem;
      top: 2.2rem;
      height: 2rem;
      width: 2rem;
      font-size: large;
      font-weight: 700;
      color: $primary50;
      border: none;
      background-color: $primary800;
      border: 0.1rem solid $primary950;
      border-radius: 0.3rem;

      &:hover {
        cursor: pointer;
      }
    }
    
    form{
      padding: 1.5rem 0;
      width: 100%;

      h2{
        color: $primary50;
        margin: 0.2rem 0rem 1rem 0.5rem;
      }

      label{
          color: $primary950;
      }

      label {
        display: flex;
        align-items: center;
        margin-right: 1rem;
      }

      div{
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
      }

      input{
        height: 1.5rem;
        border-radius: 0.3rem;
        border: 0.1rem solid $primary950;

        &[type="radio"] {
          &:checked {
            accent-color: $primary950;
          }
        }
      }

      .buttons{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;


        button{
          height: 2rem;
          width: 7rem;
          margin: 0.5rem;
          border: 0.1rem solid $primary950;
          border-radius: 0.3rem;

          &:hover{
            cursor: pointer;
          }
        }

        .submit{
          color: $primary50;
          background-color: $primary800;
        }

        .deleteAcc{
          color: $primary950;
          background-color: #FF4F4B;
        }

        .closeMenu{
          color: $primary950;
          background-color: $primary50;
        }
      }

      .errs{
        color: $primary950;
        font-size: small;
      }
    }
  }
}