// Wygenerowane za pomocą strony: https://uicolors.app/create

$primary50: #f5f8f6;
$primary100: #dfe8e2;
$primary200: #bed1c6;
$primary300: #96b2a2;
$primary400: #809d8e;
$primary500: #567665;
$primary600: #435e50;
$primary700: #384d43;
$primary800: #303f38;
$primary900: #2b3631;
$primary950: #151e1a;